celery==5.4.0
redis==5.0.7
requests~=2.32.3
aiohttp==3.10.5
asyncio==3.4.3
pymysql==1.1.1
mysqlclient==2.2.4
mysql-connector-python
channels_redis==4.2.0
daphne==4.1.2
django-cors-headers==4.3.1
django-widget-tweaks==1.5.0
django-celery-results==2.5.1
django-celery-beat==2.6.0
python-decouple==3.8
selenium==4.24.0
beautifulsoup4==4.12.3
flower==2.0.1
django-filter==24.3
Django==5.0.6
djangorestframework==3.15.2
